<div class="container">
    <div class="row">
        <div class="col pt-5" *ngFor="let item of data ">

            <div class="card" >
                <img src="{{item.img}}"class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <p class="card-text">{{item.desc}}</p>
                  <a href="" class="btn btn-primary"></a>
                </div>
              </div>


        </div>
    </div>
</div>